.about_container {
  overflow: hidden;
  box-sizing: border-box;
  padding: 32px;
  justify-content: center;
  border: none;
  background-color: white;
  color: black;


  .about_main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .about_others {
    overflow: hidden;
    width: 100%;

    p {
      margin-bottom: 0;
    }
  }

  .about_title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .about_text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about_dev_skills {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .about_other_dev_skills {
  
    font-size: 20px;
    margin-bottom: 20px;
  }

  .about_overlay {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_other_overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }

  .about_dev_logos {
    .about_column {
      float: left;
      width: 14.2%;
      justify-content: center;

      img {
        width: 40%;
        margin: auto;
        height: auto;
      }

      .about_text {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about_container {
    height: auto;
    .about_dev_logos {
      .about_column {
        width: 20%;
      }
    }

    .about_others {
      justify-content: center;
      align-items: center;
    }

    .about_other_overlay {
      display: contents;
      align-items: center;
      float: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  .about_container {
    .about_main {
      margin-bottom: 20px;
    }

    .about_dev_logos {
      .about_column {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .about_container {
    .about_dev_logos {
      .about_column {
        width: 50%;
        img {
          width: 30%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  .about_container {
    .about_dev_logos {
      .about_column {
        width: 100%;

        img {
          width: 20%;
          height: auto;
        }
      }
    }
  }
}
