.form {
  text-align: right;
  padding: 10px;
}

.input {
  margin: 10px;
  background-color: green;
}

.submitButton {
  width: 8rem;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #92320c;
  box-shadow: none;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
}

.submitButton:hover,
.submitButton:active {
  background-color: #2c0d00;
}
